body{
    /*overflow-y: hidden;*/
}

.tabs_pointer{
    cursor: pointer;
}

.active { fill: blue !important;}
/*.datamaps-key dt, .datamaps-key dd {float: none !important;}
.datamaps-key {right: -50px; top: 0;}*/


/*Tab 2*/
.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
.state:hover{
    fill-opacity:0.5;
}
#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 3px;
    pointer-events: none;
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background: #ffffff;
    border:1px solid #d3d3d3;
    border-radius:3px;
    font-size:12px;
    width:auto;
    padding:4px;
    color: black;
    opacity:0;
    box-shadow: 1px 1px 1px grey;

}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:50px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
    /*box-shadow: 1px 1px 0px 5px #000000;*/
}

li.key1 {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 5px 5px 5px 5px #000000;
}